<% 
  const success = (typeof successMessages !== 'undefined' && successMessages) ? successMessages : [];
  const errors = (typeof errorMessages !== 'undefined' && errorMessages) ? errorMessages : [];
%>

<% if (success.length) { %>
  <div class="flash flash-success">
    <% success.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

<% if (errors.length) { %>
  <div class="flash flash-error">
    <% errors.forEach(msg => { %>
      <p><%= msg %></p>
    <% }) %>
  </div>
<% } %>

