<%- include('partials/header', { title: 'Login' }) %>

<h2>Login</h2>

<% if (errors && errors.length) { %>
  <ul class="errors">
    <% errors.forEach(e => { %>
      <li><%= e %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/login" method="post" class="form">
  <label>
    Username
    <input type="text" name="username" value="<%= values.username || '' %>">
  </label>

  <label>
    Password
    <input type="password" name="password">
  </label>

  <button type="submit" class="btn">Login</button>
</form>

<%- include('partials/footer') %>
